<h1>Please Enter Your Information Below</h1>
<form method="post" action="/users">
  <input type="text" name="username" placeholder="Username"></input>
  <br>
  <input type="password" name="password" placeholder="Password"></input>
  <br>
  <input type="email" name="email" placeholder="Email"></input>
  <br>
  <input type="submit" value="Register"></input>
</form>
