<h1>Write a Review!</h1>
<form method="post" action="/posts">
  <label>Movie Title</label>
<input type="text" name="title"></input>
<br>
Tell us about the movie:
<br>
<input style="height:200px;width:600px;font-size:14pt;" type="text" name="content"></input>
<br>
Give the movie a rating!
<br>
<input type="text" name="rating" placeholder="7.5/10"></input>
<br>
<input type="submit" value="Post"></input>
</form>
