<h1>Welcome to the Sinatra Movie Review Forum!</h1>
<body>
<img src="https://www.indiewire.com/wp-content/uploads/2017/11/screen-shot-2017-11-15-at-8-03-23-am.png?w=780" title="movie" alt="movie">
<br>
<form method='post' action='/login'>
  <input type="text" name="username" placeholder="Username"></input>
  <br>
  <input type="password" name="password" placeholder="Password"></input>
  <br>
  <input type="submit" value="Log In"></input>
</form>
<br>
 <a href='/signup'>I don't have an account</a></body>
