<h1>Welcome to the Sinatra Movie Review Forum!</h1>
<body>
<img src="https://www.indiewire.com/wp-content/uploads/2017/11/screen-shot-2017-11-15-at-8-03-23-am.png?w=780" title="movie" alt="movie">
<br>
Please either <a href='/login'>Log In</a> or <a href='/signup'>Sign Up</a></body>
